.contribution-graph {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1120px;
  background: #fff;
}

.contribution-cell {
  position: relative;
  width: 15px;
  height: 15px;
  padding: 8px;
  margin: 3px;
}

.contribution-cell:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: -450%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1;
}

.modal-content {
  width: 245px;
  height: 82px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  background: #000;
  text-align: center;
  color: white;
}

.count {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date {
  color: #7c7c7c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box_primary {
  position: absolute;
  top: 300px;
  display: flex;
  color: #959494;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box_primary div {
  margin-left: 10px;
  margin-right: 10px;
}
