h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contribution-graph {
  display: flex;
  flex-wrap: wrap;
  width: 1120px;
  background: #FFF;
}

.contribution-cell {
  width: 15px;
  height: 15px;
  padding: 8px;
  margin: 3px;
}

.contribution-cell:hover {
  border: 1px solid rgba(0, 0, 0, 0.50);
}
